<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords.join(', ') %>">
    <link rel="stylesheet" href="style/main.css">
    <title><%= title %></title>
</head>
<body>
