<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords.join(', ') %>">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/fonts.css">
    <link rel="icon" type="image/png" href="favicon.png">
    <style>html{background:#1f1f29;color:white;}</style>
    <title><%= title %></title>
</head>
