<div id="navigation">
	<a id="nav-logo-link" href="/"><div id="nav-logo">
		<h1>PalaceMC</h1>
	</div></a>

	<div id="nav-content">
		<a href="jobs" <%_ if (page == "jobs") { %><%- " class=\"active\"" %><% } %>>Jobs</a>
		<a href="shop" <%_ if (page == "shop") { %><%- " class=\"active\"" %><% } %>>Shop</a>
		<a href="help" <%_ if (page == "help") { %><%- " class=\"active\"" %><% } %>>Help</a>
		<a href="https://discord.gg/teatqGG" target="_blank">Discord</a>
	</div>
</div>
