<%- include('partials/header.ejs', {
    title: "PalaceMC",
    description: "blah blah blah",
    keywords: [
        "Minecraft",
        "PalaceMC",
        "Palace"
    ]
}) %>

<p>Hello!</p>

<%- include('partials/footer.ejs') %>
